.container {
    .login-card {
        min-width: 20rem;

        mat-card-title {
            text-align: center;
        }

        .buttons {
            margin-top: 2rem;
        }

        .footer {
            text-align: center;
        }
    }
}
