<div class="container" fxLayout="column" fxLayoutAlign="center center">
    <mat-card class="login-card">
        <mat-card-title>Register</mat-card-title>
        <mat-card-content>
            <form [formGroup]="form" fxLayout="column">
                <mat-form-field appearance="legacy">
                    <mat-label>Email Address</mat-label>
                    <input matInput type="email" formControlName="email" placeholder="email">
                    <mat-error *ngIf="(form.get('email')).errors?.required">Email is required</mat-error>
                    <mat-error *ngIf="(form.get('email')).errors?.pattern">Please enter valid email</mat-error>
                </mat-form-field>
                <mat-form-field appearance="standard">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" placeholder="password" formControlName="password">
                    <mat-error *ngIf="(form.get('password')).errors?.required">Password is required</mat-error>
                </mat-form-field>
                <mat-form-field appearance="standard">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput type="password" placeholder="password" formControlName="confPassword">
                    <mat-error *ngIf="(form.get('confPassword')).errors?.required">Password confirmation is required</mat-error>
                </mat-form-field>
                <mat-error *ngIf="regError">{{regError}}</mat-error>
                <div class="buttons" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
                    <button mat-raised-button color="primary" (click)="register(form.value)">REGISTER</button>
                </div>
            </form>
        </mat-card-content>
        <div class="footer">
            <p>or, register with</p>
            <app-sso-login></app-sso-login>
        </div>
    </mat-card>
</div>
