button {
    width: 100%;
}
.mat-normal {
    background-color: #B3A6F5;
}
.mat-shiny {
    background-color: #EEC535;
}
.mat-perfect {
    background-color: #E4A0AD;
}
.mat-3-star {
    background-color: #EA9F28;
}
.mat-shadow {
    background-color: #C599FB;
}
.mat-purified {
    background-color: #A3D2CC;
}
.mat-lucky {
    background-color: #F6C171;
}

.mat-green {
    color: green;
}

.mat-red {
    color: red;
}

.trans {
    opacity: 0.6;
}
