@use '../../styles/colors';

button {
    font-size: 12px;
    transition: opacity 0.2s;
    opacity: 1;
}

.mat-normal {
    background-color: colors.$lilac;
}
.mat-shiny {
    background-color: colors.$yellow;
}
.mat-perfect {
    background-color: colors.$pink;
}
.mat-threestar {
    background-color: colors.$orange;
}
.mat-shadow {
    background-color:colors.$purple;
}
.mat-purified {
    background-color: colors.$egg-shell;
}
.mat-lucky {
    background-color: colors.$peach;
}
.mat-shinythreestar {
    background-color: colors.$gold;
}

.mat-green {
    color: colors.$white;
}

.mat-red {
    color: colors.$red;
}

.trans {
    opacity: 0.4;
}

.icon {
    opacity: 0.7;
    text-shadow: 1px 1px 2px #444;
}