@use '../../styles/colors';

button {
    width: 8.25rem;
}

.mat-normal {
    background-color: colors.$lilac;
}
.mat-shiny {
    background-color: colors.$yellow;
}
.mat-perfect {
    background-color: colors.$pink;
}
.mat-threestar {
    background-color: colors.$orange;
}
.mat-shadow {
    background-color:colors.$purple;
}
.mat-purified {
    background-color: colors.$egg-shell;
}
.mat-lucky {
    background-color: colors.$peach;
}

.mat-green {
    color: colors.$green;
}

.mat-red {
    color: colors.$red;
}

.trans {
    opacity: 0.4;
}
