<div class="container"
  *ngIf="!loading else loadingState"
  #scrollContainer
  infiniteScroll
  [infiniteScrollDistance]="1"
  [infiniteScrollThrottle]="50"
  (scrolled)="nextPage()"
  [scrollWindow]="false">
  <table mat-table [dataSource]="tableData">
    <!-- identifier -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef (click)="sortColumn('id')">
        <div fxLayout="row" fxLayoutAlign="center center">
          #
          <mat-icon *ngIf="sortedColumn === 'id'">{{orderAsending ? 'arrow_drop_down' : 'arrow_drop_up'}}</mat-icon>
        </div>
      </th>
      <td mat-cell *matCellDef="let element" class="id">{{element.id}}</td>
    </ng-container>

    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef>
        <div fxLayout="row" fxLayoutAlign="center center"></div>
      </th>
      <td mat-cell *matCellDef="let element">
        <img width="50" height="50" src="{{'assets/dream-world/'+element.id+'.svg'}}" onerror="this.src='https://pngimg.com/uploads/pokeball/pokeball_PNG21.png'"/>
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef (click)="sortColumn('name')">
        <div fxLayout="row" fxLayoutAlign="start center">
          pokemon
          <mat-icon *ngIf="sortedColumn === 'name'">{{orderAsending ? 'arrow_drop_down' : 'arrow_drop_up'}}</mat-icon>
        </div>
      </th>
      <td mat-cell *matCellDef="let element" class="name">{{element.name}}</td>
    </ng-container>

    <!-- checklist -->
    <ng-container *ngFor="let column of checklist" matColumnDef="{{column}}">
      <th mat-header-cell *matHeaderCellDef (click)="sortColumn(column)">
        <div fxLayout="row" fxLayoutAlign="center center">
          {{column|titlecase}}
          <mat-icon *ngIf="sortedColumn === column">{{orderAsending ? 'arrow_drop_down' : 'arrow_drop_up'}}</mat-icon>
        </div>
        <td mat-cell *matCellDef="let element">
          <app-pokedex-button
            [name]="column"
            [disabled]="!element.stdForms[column]"
            [value]="userPokedex[element.id][column]"
            (onClick)="updateEntry(element.id, column, $event)"></app-pokedex-button>
        </td>
    </ng-container>

    <tr mat-header-row class="sticky" *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr *matNoDataRow>
      <td class="mat-cell" [attr.colspan]="displayedColumns.length">
        <div class="empty-state" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px">
          <img width="200" height="200" src="https://pngimg.com/uploads/pokeball/pokeball_PNG21.png">
          <span>No data matching the filter.</span>
        </div>
      </td>
    </tr>
  </table>
</div>

<ng-template #loadingState>
  <mat-card class="loading-container" fxLayout="columns" fxLayoutAlign="center center">
    <app-loading-spinner></app-loading-spinner>
  </mat-card>
</ng-template>
