<table mat-table *ngIf="!loading" [dataSource]="pokedex">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>


  <ng-container matColumnDef="image">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element"> <img width="50" height="50" src="{{'assets/dream-world/'+element.id+'.svg'}}"/> </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Pokemon</th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- NORMAL -->
  <ng-container matColumnDef="standard">
    <th mat-header-cell *matHeaderCellDef>Standard</th>
    <td mat-cell *matCellDef="let element">
      <app-pokedex-button
        name="normal"
        [disabled]="!element.stdForms.normal"
        [value]="userPokedex[element.id]?.normal"
        (onClick)="updateEntry(element.id, 'normal', $event)"></app-pokedex-button>
    </td>
  </ng-container>

  <ng-container matColumnDef="shiny">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <app-pokedex-button
        name="shiny"
        [disabled]="!element.stdForms.shiny"
        [value]="userPokedex[element.id]?.shiny"
        (onClick)="updateEntry(element.id, 'shiny', $event)"></app-pokedex-button>
    </td>
  </ng-container>

  <ng-container matColumnDef="perfect">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <app-pokedex-button
        name="perfect"
        [disabled]="!element.stdForms.perfect"
        [value]="userPokedex[element.id]?.perfect"
        (onClick)="updateEntry(element.id, 'perfect', $event)"></app-pokedex-button>
    </td>
  </ng-container>

  <ng-container matColumnDef="threestar">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <app-pokedex-button
        name="3-star"
        [disabled]="!element.stdForms.threestar"
        [value]="userPokedex[element.id]?.threestar"
        (onClick)="updateEntry(element.id, 'threestar', $event)"></app-pokedex-button>
    </td>
  </ng-container>

  <ng-container matColumnDef="shadow">
    <th mat-header-cell *matHeaderCellDef>Rocket</th>
    <td mat-cell *matCellDef="let element">
      <app-pokedex-button
        name="shadow"
        [disabled]="!element.stdForms.rocket"
        [value]="userPokedex[element.id]?.shadow"
        (onClick)="updateEntry(element.id, 'shadow', $event)"></app-pokedex-button>
    </td>
  </ng-container>

  <ng-container matColumnDef="purified">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <app-pokedex-button
        name="purified"
        [disabled]="!element.stdForms.rocket"
        [value]="userPokedex[element.id]?.purified"
        (onClick)="updateEntry(element.id, 'purified', $event)"></app-pokedex-button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
