<div class="container" [ngStyle]="{'height.px': size}" class="container" fxLayout="row wrap" fxLayoutGap="8px" fxLayoutAlign="space-evenly">
    <div class="pokemon" *ngFor="let pokemon of pokedex" fxLayout="row" fxLayoutAlign="center" (click)="onClick(pokemon.id, selectedForm)">
        <app-pokemon
            [notCaught]="!userPokedex[pokemon.id][selectedForm]"
            [id]="pokemon.id"
            [size]="'medium'"
            [shiny]="selectedForm === STANDARD_POKEMON_FORMS_EMUN.SHINY"></app-pokemon>
    </div>
</div>
